/* #FBF7F3 off white
#E5B083 tan
#426E5D green
#20283D Blue */

body {
    background-color: #FBF7F3;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1em;
    height: 100%;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #E5B083;
    text-shadow: 5px 5px #426E5D;
    font-size: 7em;
}

h2 {
    font-size: 3em;
    font-family: 'Lobster', cursive;
}

h2, p {
    color: #426E5D;
}

.mapContainer {
    background-color: #20283D;
    width: 90%;
    height: 550px;
    border: 5px solid #E5B083;
    border-radius: 5px;
    margin: 0 auto;
}

#map {
    height: 500px;
    width: 80%;
    margin: 0 auto;
}